.peculiarity {
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 30px;
    border-radius: 4px;
    height: 120px;
    background-color: #F5F4FA;
  }
  
  &__title {
    color: $secondary-color;
  
    margin-bottom: 10px;
    font-size: inherit;
    text-transform: uppercase;
  }

  &__text {
    line-height: 1.7;
  }

  @media screen and (max-width: $mobile) {

    &__item {
      max-width: 100%;
    }

  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__title {
      text-align: center;
    }
  }

  @media screen and (min-width: $tablet) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__text {
      max-width: 350px;
    }
  }
  
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    &__item:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    
     &__content {
      max-width: 270px;
     }

      &__text {
        max-width: 250px;
      }
  }

}