.customers {

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms $cubic-b;

    &:hover {
      border: 1px solid $accent-color;
    }

    &:hover .customers__icon {
      fill: $accent-color;
    }

  }

  &__icon {
    fill: #AFB1B8;
    transition: fill 250ms $cubic-b;
  }

  @media screen and (max-width: $mobile) {

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    
    &__item {
      width: calc(50% - 30px);
      margin: 15px;
    }

  
  }
  
  @media screen and (min-width: $mobile) and (max-width: $desktop) {
  
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  
    &__item {
      width: calc(33.3333% - 30px);
      margin: 15px;
    }
  
  
  }
  
  @media screen and (min-width: $desktop) {

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__link {
      width: 170px;
    }
  }

}