.header {
  
  &__inner {
    display: flex;
    align-items: center;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item:not(:last-child) {
    margin-right: 50px;
  }

  &__menu-link {
    position: relative;
    color: $secondary-color;

    font-weight: 500;
    transition: color 250ms $cubic-b;

    &:hover,
    &:focus,
    &--active {
      color: $accent-color;
    }

    &--active::before {
      position: absolute;
      content: '';
      bottom: -32px;
      left: 0;
      width: 100%;
      border-bottom: 4px solid $accent-color;
      border-radius: 2px;
    }
  }

  &__contacts {
    display: flex;
    margin-left: auto;
  }

  

  &__contacts-link {
    display: flex;
    align-items: center;

    color: $main-color;
    font-weight: 500;

    transition: color 250ms $cubic-b;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &:hover .header__contacts-icon,
    &:focus .header__contacts-icon {
      fill: $accent-color;
    }
  }

  &__contacts-icon {
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms $cubic-b;
  }

  @media screen and (max-width: $mobile) {

    padding: 16px 15px;

  }

  @media screen and (max-width: 768px) {

    &__menu-btn {
      position: fixed;
      top: 21px;
      right: 25px;
      width: 25px;
      height: 25px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      z-index: 2;
    
      &:hover .header__menu-btn-line {
        background-color: $accent-color;
      }
    }
    
    &__menu-btn-line {
      position: absolute;
      content: '';
      left: 0;
      width: 24px;
      height: 2px;
      background: $secondary-color;
      transition: background-color 250ms $cubic-b;
      overflow: hidden;
    
      &:nth-child(1) {
        top: 0;
      }
    
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
    
      &:nth-child(3) {
        bottom: 0;
      }
    
      transition: transform 1s $cubic-b,
      background-color 250ms $cubic-b;

      &.--active:nth-child(1) {
      
        transform: rotate(225deg) translateX(-16px);
      }
      
      &.--active:nth-child(2) {
      
        transform: translateX(-900px);
      }
      
      &.--active:nth-child(3) {
      
        transform: rotate(-225deg) translateX(-16px);
      
      }
    }

    &__navigation {
      position: fixed;
      display: flex;
      flex-direction: column;
      padding: 48px 0 48px 40px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $main-white-color;
      transform: translateY(-1000px);
      transition: transform 2s $cubic-b;
      overflow: hidden;
    }

    &__navigation.header__navigation--active {
      transform: translateY(0);
    }
    .nav {

      &__item:not(:last-child) {
        margin-bottom: 35px;
      }
      
      &__link {
        color: $secondary-color;
        font-size: 40px;

        &--active {
          color: $accent-color;
        }
      }
    } 
    
    &__mob-contacts {
      margin-top: auto;
      margin-bottom: 64px;
    }
    
    &__mob-contacts-item {
      font-size: 24px;
    
      &:nth-child(1) {
        font-size: 34px;
        color: $accent-color;
        margin-bottom: 32px;
      }
    }

    &__social {
      display: flex;
      flex-wrap: wrap;
    }
    
    &__social-item {
      position: relative;
      margin-bottom: 15px;
    }
    
    &__social-item:not(:last-child) {
      margin-right: 20px;
    
      &::after {
        position: absolute;
        content: '';
        top: 0;
        right: -12px;
        bottom: 0;
        border: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
    
    &__social-link {
      font-size: 18px;
      font-weight: 500;
      color: $accent-color;
    }

    &__menu,
    &__contacts {
      display: none;
    }
  }

  @media screen and (min-width: 769px) {
    &__mobile {
      display: none;
    }
  }

  @media screen and (min-width: $mobile) {
    padding: 25px 15px;
  }
  
  @media screen and (min-width: $mobile) and (max-width: $desktop) {

    &__logo {
      margin-right: 88px;
    }

    &__contacts {
      flex-direction: column;
    }

    &__contacts-item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {

    &__logo {
      margin-right: 93px;
    }

    &__contacts-item + &__contacts-item {
      margin-left: 50px;
    }

  }

}

