.hero {
  text-align: center;
  
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) center/cover no-repeat;

  &__title {
    font-weight: 900;
    letter-spacing: 0.06em;
    margin: 0 auto 30px;
    text-transform: uppercase;
    color: $main-white-color;
  }
  
  &__button {
    padding: 10px 32px;
  }

  @media screen and (max-width: $mobile) {
    
    background-image: url('../images/bg/hero-bg@1x-mob.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {

      background-image: url('../images/bg/hero-bg@2x-mob.jpg');
    }
  }

  @media screen and (min-width: $mobile) and (max-width: $desktop) {

    background-image: url('../images/bg/hero-bg@1x-tabl.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    
      background-image: url('../images/bg/hero-bg@2x-tabl.jpg');
    }
  }

  @media screen and (min-width: $desktop) {

    padding: 200px 0;
    background-image: url('../images/bg/hero-bg@1x-desk.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    
      background-image: url('../images/bg/hero-bg@2x-desk.jpg');
    }

    &__title {
      font-size: 44px;
      line-height: 1.36;
      max-width: 650px;
    }
  }

  @media screen and (max-width: $desktop) {
    padding: 118px 0;
  
    &__title {
      font-size: 26px;
      line-height: 1.6;
      max-width: 360px;
    }
  }

  @media screen and (min-width: 1600px) {
    width: 1600px;
    margin: 0 auto;
  }
}
