.peculiarity {

  

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    border-radius: 4px;
    
    height: 120px;
    background-color: #F5F4FA;
  }

  &__title {
    color: $secondary-color;

    margin-bottom: 10px;
    font-size: inherit;
    text-transform: uppercase;
  }

  &__text {
    line-height: 1.7;
  }

  @media screen and (max-width: $mobile) {
  
      &__item {
        max-width: 100%;
      }
  
    }
  
     @media screen and (min-width: $mobile) and (max-width: $desktop) {
  
      &__title {
        text-align: center;
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }
      
      &__item {
        flex-basis: calc((100% - 2 * 30px)/(2));
        margin: 15px;
      }
      
    }
  
  
    @media screen and (min-width: $desktop) {
  
      &__list {
        display: flex;
        justify-content: space-between;
      }

      &__item {
        max-width: 270px;
      }

    }
}

  

